<p>edit-one-product works!</p>

<ng-container *ngIf="product">
  <div class="inputBorder">
    <label for="product-name" class="nearInput">Name:</label>
    <input id="product-name" type="text" [defaultValue]="product.name" class="showInput" [(ngModel)]="product.name" placeholder="Enter name" width="50%">
  </div>

  <div class="inputBorder">
    <label for="product-price" class="nearInput">Price:</label>
    <input id="product-price" (keypress)="numberOnly($event)" type="text" class="showInput" placeholder="Enter price" [defaultValue]="product.price" [(ngModel)]="product.price">
  </div>
  <div class="inputBorder">
    <label for="product-weight" class="nearInput">Weight:</label>
    <input id="product-weight" (keypress)="numberOnly($event)" type="text" class="showInput" placeholder="Enter price" [defaultValue]="product.weight" [(ngModel)]="product.weight">
  </div>
  <div class="inputBorder">
    <label for="product-image" class="nearInput">Image:</label>
    <input id="product-image" (keypress)="numberOnly($event)" type="text" class="showInput" placeholder="Enter image url" [defaultValue]="product.imageUrl" [(ngModel)]="product.imageUrl">
  </div>

  <div class="inputBorderDescription">
    <textarea name="description" cols="50" rows="5" type="text" [defaultValue]="product.description"  [(ngModel)]="product.description" placeholder="Enter description" width="100%"></textarea>
  </div>


  <p>{{product.name}}
    {{product.price}}</p>
  <button (click)="editProduct()">Save</button>
  <button (click)="refreshProduct()">Cancel</button>
</ng-container>
