<p>add-one-product works!</p>


<div class="inputBorder">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Image url" [defaultValue]="product.name" [(ngModel)]="product.name">
  </mat-form-field>
</div>

<div class="inputBorder">
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput placeholder="Image url" (keypress)="numberOnly($event)" [defaultValue]="product.price" [(ngModel)]="product.price">
  </mat-form-field>
</div>
<div class="inputBorder">
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput placeholder="Image url" (keypress)="numberOnly($event)" [defaultValue]="product.weight" [(ngModel)]="product.weight">
  </mat-form-field>
</div>
<div class="inputBorder">

  <mat-form-field>
    <mat-label>Image</mat-label>
    <input matInput placeholder="Image url" [defaultValue]="product.imageUrl" [(ngModel)]="product.imageUrl">
  </mat-form-field>
</div>

<div class="inputBorder">
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea id="descriptionTextArea" [(ngModel)]="product.description" matInput></textarea>
  </mat-form-field>
</div>
<div class="inputBorder" *ngIf="category">
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="currentCategory.id">
      <mat-option *ngFor="let cat of category" [value]="cat.id">
        {{cat.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="inputBorder" *ngIf="supplier">
  <mat-form-field appearance="fill">
    <mat-label>Supplier</mat-label>
    <mat-select [(ngModel)]="currentSupplier.id">
      <mat-option *ngFor="let sup of supplier" [value]="sup.id">
        {{sup.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="inputBorder">
  <button (click)="addProduct()">Save</button>
  <button (click)="cancelProduct()">Cancel</button>
</div>

