div.inputBorder{
  display: table;
  width: 20%;
  margin: auto;
  position: relative;
  left:-20px;
}

div.inputBorderDescription{
  display: table;
  width: 300px;
  margin: auto;
  position: relative;
  left:-23px;
}
