<button (click)="addProduct()">ADD</button>

<div *ngIf="products$">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of (products$ | async)">
      <td>
        {{ product.category.name }}
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button type="button"  class="btn btn-primary" (click)="btnClick(product.id.toString())">> </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

